<div class='chat-container'>
  <div id='contacts'>
    <div id='all' class='contact-info-selected'>
      <a href='#all' class='user-contact' data-userLogin='all'>[Общий]</a>
    </div>
    {{#each contacts}}
      <div id='{{this.User.login}}' class='contact-info-unselected'>
        <a
          class='user-contact'
          href='#{{this.User.login}}'
          data-userLogin={{this.User.login}}
        >[{{this.User.login}}]
          {{this.User.FullName}}</a>
        <div id='online-{{this.User.login}}' class='contact-status'></div>
      </div>
    {{/each}}
  </div>
  <div class='message-container'>
    <div id='message-table'>
      {{#each messages}}
        <div class='message'>
          <p>{{this.createdAt}}</p>
          <p>{{this.AuthorId}}</p>
          <p>{{this.message}}</p>
        </div>
      {{/each}}
      <p>Добро пожаловать в чатик</p>
    </div>
    <div class='send-mess-container'>
      <div class='text-container'>
        <textarea name='message' id='text' cols='30' rows='10'></textarea>
        <button id='sendText'>SEND</button>
      </div>
    </div>
  </div>

</div>
<script src='/scripts/chat.js'></script>
